body, html{
  margin:0;
  padding:0;
  background-color:#000;
  color:#fff;
}

#controls, #container{
  margin:0 auto;
  text-align: center;
}

#container{

}

#actionsdiv > div{
  transition: opacity 1s, height 1s 1s;
  height:20px;
}

#timer{
  position: fixed;
  bottom:0;
  left:50%;
  transform: translate(-50%, 0);
  font-size:10vh;
  mix-blend-mode: difference;
  z-index:9;
}

#progressbar{
  position: fixed;
  bottom:0;
  height:10vh;
  background-color: white;
}

.hide{
  opacity:0;
  height:0 !important;
}

.current{
;
}

.next{

}

.previous{
}

.old{

}
