body, html{
  margin:0;
  padding:0;
  background-color:#000;
  color:#fff;
}

#controls{
  position: fixed;
  top:5vh;
  left:50%;
  transform: translate(-50%, 0);
}

#container{
  margin:30vh auto;
  text-align: center;

}

#actionsdiv > div{
  transition: opacity 1s, height 1s 1s, font-size 1s 1s, font-weight 1s 1s;
  height:30vh;

}

#timer{
  position: fixed;
  bottom:0;
  left:50%;
  transform: translate(-50%, 0);
  font-size:10vh;
  mix-blend-mode: difference;
  z-index:9;
}

#progressbar{
  position: fixed;
  bottom:0;
  height:10vh;
  background-color: white;
}

.hide{
  opacity:0;
  height:0 !important;
}

.current{
  height:20vh;
  font-size: 11vh;
  opacity:1;
}

.next{
  font-size: 8vh;
  opacity:0.9;
}

.previous{
}

.old{

}
